<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/header.ejs', {page: 'Author Show Page'}) %>

    <!-- This is my nav bar now -->
    <%- include ('./partials/nav.ejs') %>

    <section class="hero is-medium has-background-light">
        <div class="hero-body">
            <p class="title">All Products</p>
        </div>
    </section>
    
    <main class="container is-max-widescreen">
        <div class="columns is-multiline p-5">
        
                
                <div class="column is-one-third">
                    <% if (author){ %>
                    <article class="card">
                        <section class="card-image">
                            <figure class="image is-3by3">
                                <img src="<%= author.image %>" alt="Placeholder image" />
                            </figure>
                        </div>
                    </section>
                    <div class="card-content">
                        <div class="content">

                                <h3>
                                    <a href="/explore/<%= author._id %>"><%= author.name %> </a>
                                </h3>
                                
                                <p>$<%= author.description %></p>
                            </div>
                        </div>
                    </article>
                    <% } %>
            </div>
        </div>
    </main>
</body>
</html>