<!DOCTYPE html>
<html lang="en">

<!-- This is my heading now -->
<%- include ('./partials/header.ejs', {page: 'Explore Collections' }) %>

    <!-- This is my nav bar now -->
    <%- include ('./partials/nav.ejs') %>
        <section class="hero is-small has-background-light">
            <div class="hero-body author-marg">
                <p class="title is-max-widescreen
            ">Creators</p>
            </div>
        </section>

        <main class="container is-max-widescreen">
            <% for(let idx=0; idx < author.length; idx++){ %>
                <% const authors=author[idx] %>
                <div class="columns is-multiline p-5">

                        <div class="column is-one-third">
                            <article class="card">
                                <section class="card-image">
                                    <figure class="image is-3by3">
                                        <img src="<%= authors.image %>" alt="Placeholder image" />
                                    </figure>
                        </div>
                        </section>
                        <div class="card-content">
                            <div class="content">
                                <h3>
                                    <a href="/author/<%= authors._id %>">
                                        <%= authors.name %>
                                    </a>
                                </h3>

                                <p>
                                    <%= authors.description%>
                                </p>
                            </div>
                        </div>
                        </article>
            </div>
            <% } %>
                </div>
        </main>
        </body>

</html>