<!DOCTYPE html>
<html lang="en">
    
    <!-- This is my heading now -->
    <%- include ('./partials/header.ejs', {page: 'Explore NFT's'}) %>
    
    <!-- This is my nav bar now -->
    <%- include ('./partials/nav.ejs') %>
    <section class="hero is-medium has-background-light">
        <div class="hero-body">
            <p class="title">All NFT's</p>
        </div>
    </section>
    
    <main class="container is-max-widescreen">
        <div class="columns is-multiline p-5">
            <% for(let idx = 0; idx < nft.length; idx++){ %> 
                <% const nfts = nft[idx] %>
                
                <div class="column is-one-third">
                    <article class="card">
                        <section class="card-image">
                            <figure class="image is-3by3">
                                <img src="<%= nft.image %>" alt="Placeholder image" />
                            </figure>
                        </div>
                    </section>
                    <div class="card-content">
                        <div class="content">
                            <h3>
                                <a href="/explore/<%= nft.id %>"><%= nft.name %> </a>
                            </h3>
                            
                            <p>$<%= nft.price %></p>
                        </div>
                    </div>
                </article>
            </div>
            <% } %>
        </div>
    </main>
</body>
</html>