<!DOCTYPE html>
<html lang="en">

<!-- This is my heading now -->
<%- include ('./partials/header.ejs', {page: 'Author' }) %>

    <!-- This is my nav bar now -->
    <%- include ('./partials/navExplore.ejs') %>
    
        <section class="hero is-medium has-background-light">
            <div class="hero-small">
                <p class="title"></p>
            </div>
        </section>

        <main class="container is-max-widescreen grid-layout">
            <div class="columns is-multiline">
                <% for(let idx=0; idx < nft.length; idx++){ %>
                    <% const nfts=nft[idx] %>

                        <div class="card">
                            <div class="card-image">

                                <figure class="image is-4by3">
                                    <img src="<%= nfts.image %>" alt="Placeholder image" />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="<%= nfts.image %>" alt="Placeholder image" />
                                        </figure>
                                    </div>
                                    <div class="media-content">

                                        <p class="title is-4"><a href='/explore/<%= nfts._id %>'><%=nfts.name%></a></p>
                                        <p class="subtitle is-6"><%=nfts.author%></p>
                                        
                                    </div>
                                </div>

                                <div class="content">
                                    <p class="title is-6"><%=nfts.description%></p>
                                    <p class="title is-4">♦<%=nfts.price%> WETH</p>
                                    
                                    
                                    
                                </div>
                            </div>
                        </div>
            </div>
            <% } %>
                </div>
        </main>
        </body>

</html>

